## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,62.47,65,100,5.28,overcast clouds
1,1,Carnarvon,AU,-24.8667,113.6333,75.27,88,0,6.91,clear sky
2,2,Saskylakh,RU,71.9167,114.0833,-34.37,100,98,3.74,overcast clouds
3,3,Luanda,AO,-8.8368,13.2343,79.97,81,85,10.71,overcast clouds
4,4,Broome,US,42.2506,-75.8330,43.66,64,0,1.99,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Carnarvon,AU,-24.8667,113.6333,75.27,88,0,6.91,clear sky
3,3,Luanda,AO,-8.8368,13.2343,79.97,81,85,10.71,overcast clouds
6,6,Mananjary,MG,-21.2167,48.3333,75.24,92,98,2.68,light rain
7,7,Puerto Ayora,EC,-0.7393,-90.3518,82.36,85,72,5.99,broken clouds
10,10,Denpasar,ID,-8.6500,115.2167,78.46,88,20,4.61,few clouds
15,15,Japura,ID,-0.3167,102.3500,73.13,99,99,1.07,overcast clouds
16,16,Hays,US,30.0502,-98.0336,73.31,38,0,1.01,clear sky
18,18,Busselton,AU,-33.6500,115.3333,70.61,52,66,9.89,broken clouds
27,27,Butaritari,KI,3.0707,172.7902,80.55,82,64,16.53,light rain
34,34,Mahanoro,MG,-19.9000,48.8000,74.95,93,98,3.04,light rain

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                267
City                   267
Country                264
Lat                    267
Lng                    267
Max Temp               267
Humidity               267
Cloudiness             267
Wind Speed             267
Current Description    267
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                264
City                   264
Country                264
Lat                    264
Lng                    264
Max Temp               264
Humidity               264
Cloudiness             264
Wind Speed             264
Current Description    264
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Carnarvon,AU,75.27,clear sky,-24.8667,113.6333,
3,Luanda,AO,79.97,overcast clouds,-8.8368,13.2343,
6,Mananjary,MG,75.24,light rain,-21.2167,48.3333,
7,Puerto Ayora,EC,82.36,broken clouds,-0.7393,-90.3518,
10,Denpasar,ID,78.46,few clouds,-8.6500,115.2167,
15,Japura,ID,73.13,overcast clouds,-0.3167,102.3500,
16,Hays,US,73.31,clear sky,30.0502,-98.0336,
18,Busselton,AU,70.61,broken clouds,-33.6500,115.3333,
27,Butaritari,KI,80.55,light rain,3.0707,172.7902,
34,Mahanoro,MG,74.95,light rain,-19.9000,48.8000,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
 hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   264
Country                264
Max Temp               264
Current Description    264
Lat                    264
Lng                    264
Hotel Name             264
dtype: int64

In [15]:
#Check dataframe to insure hotel hames column is populated. 
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Carnarvon,AU,75.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon
3,Luanda,AO,79.97,overcast clouds,-8.8368,13.2343,EPIC SANA Luanda
6,Mananjary,MG,75.24,light rain,-21.2167,48.3333,Vahiny Lodge
7,Puerto Ayora,EC,82.36,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Denpasar,ID,78.46,few clouds,-8.6500,115.2167,OYO 3156 Hotel Warta 2
15,Japura,ID,73.13,overcast clouds,-0.3167,102.3500,Rumah mbah Jamah
16,Hays,US,73.31,clear sky,30.0502,-98.0336,Sinya on Lone Man Creek
18,Busselton,AU,70.61,broken clouds,-33.6500,115.3333,Observatory Guest House
27,Butaritari,KI,80.55,light rain,3.0707,172.7902,Isles Sunset Lodge
34,Mahanoro,MG,74.95,light rain,-19.9000,48.8000,BUNGALOW MAHAMANINA

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))